@r:50rem;
/*去掉阴影*/
a,input,button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*去掉按钮的圆角*/
input,button {
    -webkit-appearance: none;
    border-radius: 0;
}

body {
    margin: 0;
    -webkit-user-select: none; /*文字选中设置*/
}
body *{
    margin:0;
    padding: 0;
    -webkit-user-select: none;
    font-family: Helvetica; /*移动端的默认字体设置*/
}
body {
    -webkit-text-size-adjust: 100%; /*禁止文字缩放*/
}

h1 {
    margin :0;
}
a {
    text-decoration: none;
}
ul{
    margin:0;
    padding: 0;
    list-style: none;
}

body {
    height:100%;
    overflow-y:hidden;
}
/************top*****************/

.top {
    position: absolute;
    top:0;
    height:89/@r;
    
    header {
        height: 89/@r;
        background: -webkit-linear-gradient(left, #ff8e01 , #ff5100); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, #ff8e01, #ff5100); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, #ff8e01, #ff5100); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, #ff8e01, #ff5100); /* 标准的语法 */
        .scan-wrap {    
            float: left;
            margin-top: 2/@r;
            // background: red;
            width:98/@r;
            height:87/@r;
            text-align: center;

            span {
                display: block;
                // background: yellow;

                .iconfont {
                    font-size: 40/@r;
                    color:#fdfdff;  
                }
            }

            .scan {
                color:#eff2f7;
                // background: #ccc;
                font-size: 16/@r;
            }
        }

        .search-wrap {
            float: left;
            width:560/@r;
            height:78/@r;
            margin-top: 2/@r;
            // background: #ccc;


            div {
                margin:8/@r 12/@r;
                width: 533/@r;
                height:64/@r;
                background: rgba(255,255,255,.3);
                border-radius: 32/@r;
                // text-align: center;

                .search {
                    margin-left: 20/@r;
                    .iconfont {
                        font-size: 30/@r;
                        color:#f9d3cf;
                    }
                }
                
                .text {
                    border-style: none;
                    background: rgba(0,0,0,0);
                    width:398/@r;
                    font-size: 27/@r;
                    color: #f3f8e6;
                }

                .camera {
                    margin-right:0 16/@r;

                    .iconfont {
                        font-size: 37/@r;
                        color:#f3eade;  
                    }
                }

            }
        }

        .news-wrap {    
            float: right;
            width:92/@r;
            height:85/@r;
            margin-top: 2/@r;
            // background: red;
            text-align: center;

            span {
                display:block; 
                

                .iconfont { 
                    font-size: 44/@r;
                    color:#fafbff;
                }
            }
            

            .news {
                margin-top:4/@r;
                font-size: 16/@r;
                color:#fbe8be;
                // margin-bottom: 11/@r;
            }
        }
    }
}

/***************middle******************/
.middle {
    position: absolute;
    top:89/@r;
    width: 100%;
    height:1148/@r;
    overflow-y: auto;
    .middle-scroll {
        background: #f3f3f3;
        // background: #000;

        .carousel-box {
            position: relative;
            height: 233/@r;
            text-align: center;

            img {
                width:100%;
                height:233/@r;
            }

            .circle-box {
                position: absolute;
                left:279/@r;
                right:279/@r;
                bottom:29/@r;
                width:192/@r;
                // background: red;
                span {
                    float: left;
                    margin: 0 3/@r;
                    width:18/@r;
                    height:18/@r;
                    background: #e8e3e0;
                    border-radius: 50%;
                }
                span:nth-of-type(1) {
                    background: #ff4700;
                }
            } 
        }

        .rows-box {
            padding-top: 25/@r;
            background: #ffffff;
            .rows {
                display:flex;
                display: -webkit-box;
                padidng:0 6/@r;

                div {
                    margin-top: 10/@r;
                    text-align: center;
                    flex-grow: 1;
                    -webkit-box-flex:1;
                    width: 0;

                    a {
                        display: block;
                        font-size: 20/@r;
                        color:#6c6c6c;
                        line-height: 45/@r;
                    }
                    a:before {
                        content:"";
                        display: block;
                        width:88/@r;
                        height:87/@r;
                        margin: 0 auto;
                        background-image:url('../img/1.png'); 
                        background-size: 450/@r 180/@r;
                    }
                }  
            }
            .rows:nth-of-type(1) {
                div:nth-of-type(1) {
                    a:before {
                        background-position: 0 0;
                    }
                }
                div:nth-of-type(2) {
                    a:before {
                        background-position: -90/@r 0;
                    }
                }
                div:nth-of-type(3) {
                    a:before {
                        background-position: -180/@r 0;
                    }
                }
                div:nth-of-type(4) {
                    a:before {
                        background-position: -270/@r 0;
                    }
                }
                div:nth-of-type(5) {
                    a:before {
                        background-position: -360/@r 0;
                    }
                }
            }
            .rows:nth-of-type(2) {
                div:nth-of-type(1) {
                    a:before {
                        background-position: 0 90/@r;
                    }
                }
                div:nth-of-type(2) {
                    a:before {
                        background-position: -90/@r -90/@r;
                    }
                }
                div:nth-of-type(3) {
                    a:before {
                        background-position: -180/@r -90/@r;
                    }
                }
                div:nth-of-type(4) {
                    a:before {
                        background-position: -270/@r -90/@r;
                    }
                }
                div:nth-of-type(5) {
                    a:before {
                        background-position: -360/@r -90/@r;
                    }
                }
            }
        }

        .headlines-box {
            background:#ffffff;
            padding-top: 12/@r;

            .headlines-logo {
                float: left;
                width:120/@r;
                height:106/@r;
                // background: yellow;
                a {
                    margin: 20/@r auto;
                    display: block;
                    width: 78/@r;
                    height:66/@r;
                    // background: red;
                    img {
                        width: 78/@r;
                        height:66/@r;
                    }   
                }
                
            }

            .headlines-content {
                margin-left: 120/@r;
                padding: 13/@r 0 15/@r 6/@r;
                .hot {
                    height:39/@r;
                    line-height: 39/@r;
                    font-size: 0;

                    img {
                        vertical-align: middle;
                        width: 55/@r;
                        height: 28/@r;
                        margin-right: 8/@r;
                    }
                    
                    span {
                        vertical-align: top;
                        font-size: 24/@r;
                        color: #3e3e3e;
                    }
                }
            }
        }

        .huodong {
            .rows:nth-of-type(1) {
                height:19/@r;
                background: #f4f4f4;

            }
            .rows {
                display: flex;
                display: -webkit-box;
                justify-content: space-between;
                -webkit-box-pack:justify;
                margin-bottom: 2/@r;
                .part {
                    flex-grow:1;
                    -webkit-box-grow:1;
                    background: #ffffff;

                    .left {
                        float: left;
                        height:223/@r;
                        width:204/@r;

                            .name {
                                height:47/@r;
                                line-height: 47/@r;
                                margin-top: 11/@r;
                                margin-left: 17/@r;
                                .icon-box {
                                    float: left;
                                    .iconfont {
                                        vertical-align: top;
                                        font-size: 33/@r;
                                    }
                                }
                                

                                .title {
                                    margin-left: 10/@r;
                                    vertical-align: top;
                                    font-size: 31/@r;
                                }
                            }
                            
                            .content {
                                    height:26/@r;
                                    line-height: 26/@r;
                                    margin-bottom: 7/@r;
                                    margin-left: 19/@r;
                                span {
                                    vertical-align: top;
                                    font-size: 22/@r;
                                    color: #878787;
                                }
                            }
                    }

                    .right {
                        margin-left: 204/@r;
                        width:170/@r;
                        height:223/@r;
                        
                        img {
                            width: 170/@r;
                            height:223/@r;
                        }
                    }

                }

                .panic-buying {
                    .left {
                        .name {
                            color:#ee2519;
                        }
                        img {
                            margin-left: 60/@r;
                            width:64/@r;
                            height:116/@r;
                        }

                        .content {

                            span {
                                float: left;
                                
                            }
                            .hour,.minute,.second {
                                width:29/@r;
                                text-align: center;
                                background: #ff334d;
                                color:#eee5c5; 
                                border-radius: 5/@r;
                            }

                            .dot {
                                color: #fd4673;
                            }
                        }
                        
                    }
                }

                .good-stuff {
                    .left {
                        .name {
                            color:#0cbaf3;
                        }
                        img {
                            margin-top: 13/@r;
                            margin-left: 72/@r;
                            width:39/@r;
                            height:91/@r;
                        }
                    }
                }

                .shopping {
                    .left {
                        .name {
                            color: #e56487;
                        }
                        img {
                            margin-left: 58/@r;
                            width:67/@r;
                            height:112/@r;
                        }
                    }
                }

                .must-buy {
                    .left {
                        .name {
                            color:#fd5072;
                        }
                        img {
                            margin-left: 53/@r;
                            width:78/@r;
                            height:117/@r;
                        }
                    }
                }
            }
        }

        .section {
            .rows:nth-of-type(1) {
                height:30/@r;
                background: #f4f4f4;
            }
            .rows {
                margin-bottom: 2/@r;
            }
        }

        .second-rows {
            position: relative;
            width: 750/@r;
            height: 231/@r;
            background-image:url('../img/shihuihaohuo.png'); 
            background-size: 750/@r 231/@r;

            .title {
                position: absolute;
                top:-13/@r;
                left:23/@r;
                width: 232/@r;
                height:60/@r;
                line-height:60/@r;
                background: -webkit-linear-gradient(left, #fe7b44, #ff3312); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(right, #fe7b44, #ff3312); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(right, #fe7b44, #ff3312); /* Firefox 3.6 - 15 */
                background: linear-gradient(to right, #fe7b44, #ff3312); /* 标准的语法 */ 
                border-radius: 30/@r;
                text-align: center;
                font-size: 0;

                span {
                    font-size: 30/@r;
                    color: #d5fce2;
                }

                .iconfont {
                    font-size: 36/@r;
                }
                
                
            }

            p {
                position: absolute;
                left:20/@r;
                width:342/@r;
                word-wrap: break-word;
            }
            .decoration {
                top:65/@r;
                font-size: 28/@r;
                color:#464646;

            }

            .content {
                top:176/@r;
                font-size: 22/@r;
                color: #b1b1b1;
            }
        }

        .third-rows {
            display: flex;
            display: -webkit-box;
            justify-content: center;
            
            .img-box {
                
                img {
                    float: left;
                    width: 187/@r;
                    height:160/@r;    
                }
            }
        }

        .fourth-rows {
            display: flex;
            display: -webkit-box;
            justify-content:center;
            
            img {
                width: 186/@r;
                height:160/@r;
            }
        }

        .part {
            flext-grow:1;
            -webkit-box-flex:1;
            background: #fff;
        }
        .title-box {
            margin-left: 18/@r;

            .title {
                margin-top: 16/@r;
                height:36/@r;
                font-size: 28/@r;
                color: #262626;
            } 

            .decoration {
                height:33/@r;
                font-size: 22/@r;
                color: #adadad;
            }
        }
    }
}

/****************bottom******************/
.bottom {
    display:flex;
    // display: -webkit-box;
    justify-content: center;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 98/@r;
    background: -webkit-linear-gradient(left, #d1eff9, #f5f5f5 , #dcdcdc); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #d1eff9, #f5f5f5 , #dcdcdc); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #d1eff9, #f5f5f5 , #dcdcdc); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #d1eff9, #f5f5f5 , #dcdcdc); /* 标准的语法 */ 

    div  {
        flex-grow:1;
        -webkit-box-grow:1;
        width:0;
        text-align: center;
        
        span {
            display: block;
            font-size: 18/@r;
        }
        span:nth-of-type(1) {
            height: 50/@r;
        }
        span:nth-of-type(2) {
            height:37/@r;
            line-height: 37/@r;
        }
    }

    div:not(.Logo) {
        padding-top: 11/@r;
        line-height: 50/@r;
    }

    .Logo {
        height: 98/@r;
        line-height: 98/@r;
        font-size: 0;
        img {
            vertical-align: middle;
            width:82/@r;
            height:82/@r;
        }
    }

    .weitao {
        
        .iconfont {
            font-size: 48/@r;
        }
    }
    
    .ask {
      
        .iconfont {
            font-size: 45/@r;
        }
    }

    .shopping-bike {
       
        .iconfont {
            font-size: 45/@r;
        }
    }

    .my-taobao {
        
        .iconfont {
            font-size: 36/@r;
        }
    }

}
